body {
	background-color: #7ec0ee;
}

/*.topBorder {
	border: 1.5vh solid black;
	border-radius: 2.9375em;
	position: relative;
}
*/

header {
	background: url(https://i.imgur.com/B0m3V5o.jpg);
	height: 20%;
	margin: 0;
}
nav {
	margin: auto;
}

.navbar {
	background-color: transparent;
	border-style: none;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}



li {
	margin: auto;
}


.products {
	border: 1.5vh solid black;
	border-radius: 2.9375em;
	position: relative;
	top: 1em;
	height: 115vh;
	margin: auto;
}

.center {
	text-align: center;
	position: relative;
}

table {
	width: 40%;
	height: 40%;
	margin: auto;
}
 th, td {
	position: relative;
	margin: auto;
	
	width: 25%;
	
}
 th, td {
	
	border-radius: 30%;
	position: relative;
	margin: auto;
}

th.cash {
	background-image: url(https://i.imgur.com/1HlZxI5.jpg);
	background-position: center;
	
}

.cash:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.arm:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.zoom:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.mind:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.God:hover .overlay {
		opacity: 2;
		width: 100%;
		height: 100%;
}

.Soon:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}


.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 1.5s ease;
	background-color: rgba(252,251,243,.7);
	border-radius: 30%;
}

span {
	position: absolute;
	bottom: 50%;
	left: 30%;
}
span.buff {
	position: absolute;
	bottom: 50%;
	left: 20%;
}

span.brain {
	position: absolute;
	bottom: 50%;
	left: 30%;
}

span.supes {
	position: absolute;
	bottom: 50%;
	left: 25%;
}

span.future {
	position: absolute;
	bottom: 50%;
	left: 20%;
}

span.fast {
	position: absolute;
	bottom: 50%;
	left: 33%;
}


tr {
	width: 20%;
	height: 30vmin;

}

th.Soon {
	background-image: url(https://i.imgur.com/DuIuB6y.jpg);
}

th.arm {
	background-image: url(https://i.imgur.com/FJ4pbct.jpg);
	background-repeat: no-repeat;
	background-position: center;
}


th.mind {
	background-image: url(https://i.imgur.com/d1pQ8GB.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
th.zoom {
	background-image: url(https://i.imgur.com/dvnBKzX.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

th.God {
	background-image: url(https://i.imgur.com/uH5kdBW.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

	
