body {
	background-color: skyblue;
}

.topBorder {
	border: 1.5vh solid black;
	border-radius: 2.9375em;
	position: relative;
}

ul {
	list-style-type: none;
	overflow: hidden;
	
	border-radius: 2.9375em;
	

}

nav {
	margin-left: 33%;
}

nav ul li {
	width: 7em;
	text-align: center;
	
	/*background-color: rgba(252,251,243,.7);*/
	
	display: inline-block;
}


.products {
	border: 1.5vh solid black;
	border-radius: 2.9375em;
	position: relative;
	top: 1em;
	height: 115vh;
	margin: auto;
}

.center {
	text-align: center;
	position: relative;
}

table {
	width: 40%;
	height: 40%;
	margin: auto;
}
 th, td {
	position: relative;
	margin: auto;
	
	width: 25%;
	
}
 th, td {
	
	border-radius: 30%;
	position: relative;
	margin: auto;
}

th.cash {
	background-image: url(/DotNetProjects/StoreApp/Images/dollar.jpg);
	background-position: center;
}

.cash:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.arm:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.zoom:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.mind:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}

.God:hover .overlay {
		opacity: 2;
		width: 100%;
		height: 100%;
}

.Soon:hover .overlay {
		opacity: 1;
		width: 100%;
		height: 100%;
}


.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 1.5s ease;
	background-color: rgba(252,251,243,.7);
	border-radius: 30%;
}

span {
	position: absolute;
	bottom: 50%;
	left: 30%;
}
span.buff {
	position: absolute;
	bottom: 50%;
	left: 20%;
}

span.brain {
	position: absolute;
	bottom: 50%;
	left: 30%;
}

span.supes {
	position: absolute;
	bottom: 50%;
	left: 25%;
}

span.future {
	position: absolute;
	bottom: 50%;
	left: 20%;
}

span.fast {
	position: absolute;
	bottom: 50%;
	left: 33%;
}


tr {
	width: 20%;
	height: 30vmin;

}

th.Soon {
	background-image: url(/DotNetProjects/StoreApp/Images/traffic.jpg);
}

th.arm {
	background-image: url(/DotNetProjects/StoreApp/Images/arm.jpg);
	background-repeat: no-repeat;
	background-position: center;
}


th.mind {
	background-image: url(/DotNetProjects/StoreApp/Images/telek.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
th.zoom {
	background-image: url(/DotNetProjects/StoreApp/Images/zoom.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

th.God {
	background-image: url(/DotNetProjects/StoreApp/Images/infinity.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

	
