body {
	background-color: #4F96D6;
}



header {
	background: url(https://i.imgur.com/IlLnuZk.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 1em 0 0.5em;
	
}

.contentWrapper {
	margin: 0;
	max-width: 1170px;
	
}

nav {
	margin: auto;
}

.navbar {
	background-color: transparent;
	border-style: none;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

li {
	margin: auto;
}

.products {
	position: relative;
	top: 1em;
	height: 115vh;
	margin: auto;
}

.offerings {
	text-align: center;
}



.cash:hover .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}


.buff:hover .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.speedy:hover .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.mind:hover .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.god:hover .overlay {
	opacity: 2;
	width: 100%;
	height: 100%;
}

.soon:hover .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 1.5s ease;
	background-color: rgba(252,251,243,.7);
}


h4.moolah {
	position: absolute;
	top: 45%;
	left: 40%;
}

h4.iron {
	position: relative;
	top: 45%;
	left: 30%;
}

h4.zoom {
	position: absolute;
	top: 45%;
	left: 40%;
}

h4.brain {
	position: absolute;
	top: 45%;
	left: 35.5%;
}

h4.supes {
	position: absolute;
	top: 45%;
	left: 20%;
}

h4.future {
	position: absolute;
	top: 45%;
	left: 40%;
}


footer {
	background-color: #40362f;
	height: 5%;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 1.5em 2.0em;
	margin: auto;
}

footer ul li::before {
	content: "| ";
	padding-right: 0.7em;
}

footer ul#menuFooter {
	display: inline-block;
	list-style: none;
	margin: auto;
	padding: 0;
}

footer ul li {
	display: inline-block;
	padding: 0 0.7em 0 0;
	margin: auto;
}
